
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: yellow;
  height: 64px;
}
  header li{
    float: left;
  }
  header li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  header li h1{
  color:black;
  height: 32px;
  font-weight: bold;
}
  header li h2{
  color:grey;
  height: 32px;
  font-weight: normal;
}
thesis-container{
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
}


learn-container{
  display: flex;
  justify-content:flex-end;

}

h1 h2{
  font-family: helvetica;
}
video-container{

}
.body{
  display: flex;
  justify-content: center;
  background-color: dodgerblue;
}
.video-container{

}

.grid-container{
display: flex;
flex-wrap:wrap;
flex-direction:row;
justify-content: center;
align-items: center;
align-content: center;
width: 80%;
margin: 0 auto;
text-align: center;
}

.button{
 display: flex;
 justify-content: center;
 align-content: center;
}

.Learn{
  text-align: center;

}

.middleleft{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer {
  border-bottom: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: yellow;
  height: 64px;
}

.footer li{
  display: flex;
  list-style-type: none;
  float: left;
  justify-content: center;
  padding-left: 24px;
}
.footer li a {
  padding-top: 16px;
  display: block;
  color: black;
  text-decoration: none;
}
.footer li p{
  display: block;
  color: black;
  text-align: left;
  text-decoration: none;
  width: 30%;
}
#Learn{
  display: flex;
  text-shadow: 4px gray;
}
