body{
  width: 100%;
}
  header .mobile{
  display:none;
}
@media only screen and (max-width: 550px) {
  header .desktop {
    display: none;
  }
  header .mobile {
    display: block;
    width: 100%;
  }}

ul{
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 16px 16px;
  height: 64px;
  color: black;

}
.content {
Width: 600px;
Margin: auto;
Display: block;
}
.content img {
Width : 600px;
}
.middleleft p h1{
  display: flex;
  justify-content: center;
  width: 600px;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url(resources/images/banner.jpg);
    background-position: 0% 25%;
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: white 0.3em 0.3em 0.3em;
}
  header li {
    display:inline;
    color: black;
    text-align: right;
    padding: 16px 16px;
    text-decoration: none;
    justify-content: flex-end;
  }

div.middleright {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.middleright:hover {
    border: 1px solid #777;
}

div.middleright img {
    width: 100%;
}

div.desc {
    padding: 15px;
    text-align: center;

}

banner-left{
  flex: 2;
}
banner-right{
  flex:1;
}
.banner{
  width: 100%;
}

.banner-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  font-weight: bold;

  width: 40%;
  font-size: 30px;
}
#banner-right h3{
  font-weight: 50px;
}
.banner-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-color: #d3d3d3;
  font-weight: 500;
}
.middle{
  display: flex;
  justify-content: flex-start;
  padding-left: 24px;
  margin-top: 32px;
}

.middle p{
  display: flex;
  width: 60%;
}

.logo{
  flex-grow: 1;
  align-items: center;
}

thesis-container{
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
}




h1 h2{
  font-family: helvetica;
}

video-container{

}
#banner{
  display: flex;
}
.orpic,.campic,.lecpic{
  float: left;
}
.course-software .art .design .data .business .marketing{
display:flex;
justify-content: flex-start;
flex-direction: row;}

.orientation p h4{
  float: right;
}
.banner-left{
  max-width: 60%;
}

.grid-container{
display: flex;
flex-wrap: nowrap;
flex-direction:row;
justify-content: center;
align-items: center;
align-content: center;
width: 0%;
margin: 0 auto;
text-align: center;
background-color: #d3d3d3;
}

.button{
 display: flex;
 justify-content: center;
 align-content: center;
}

.Learn{
  text-align: center;
}

.middleleft{
  padding-left: 24px;
  max-width: 60%;
  max-height: inherit;
  display: flex;
  margin-left: 24px;
  flex-direction: column;
}

.footer {
  border-bottom: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: ;
  height: 64px;
}

.footer li{
  display: flex;
  list-style-type: none;
  float: left;
  justify-content: center;
  padding-left: 24px;
}
.footer li a {
  padding-top: 16px;
  display: block;
  color: black;
  text-decoration: none;
}
.footer li p{
  display: block;
  color: black;
  text-align: left;
  text-decoration: none;
  width: 30%;
}
#Learn{
  display: flex;
  text-shadow: 4px gray;
}
